 @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body{
    background-color: #000424;
    padding: 0;
    margin: 0;
    height: 100vh;
}
:root{
    --green:#1adb80;
    --white: #ffffff; 
      --nav:rgba(255, 255, 255, 0.7);
      --animdur:1.5s;
}
.navbar{ background-color: transparent;
    display: flex;
    align-items: center;
    padding: 16px 25px;
    margin: 0px 54px;
    
}

.navbar ul li {
    list-style:none;
}

 .navbar ul li a{ 
    cursor: pointer;
    text-decoration: none;
    color: var(--nav);
    padding: 10px;
    font-family: "Nunito", "Helvetica", "Arial", "sans-serif";
font-size: 12px;
letter-spacing: 2px; 
margin: 0px 10px;
}
.navitems:hover{
    color: aliceblue;

}

.img{
    height: 50px;
    /* padding: 5px 70px; */
}
.nav{
    display: flex;
padding: 0 0 0 20px;
margin-left: auto;
}

.container{
  position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -100;

}
.container2{
  position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -101;

}
.container3{
  position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: -102;

}

.bubbles{
    display: flex;
}
.bubbles2{
    display: flex;
}
.bubbles3{
     /* margin-top:300px ; */
    display: flex;
}

.bubbles span{
    background-color: aliceblue;
    height: 3px;
    width: 3px;
    margin: auto;
    animation: star 15s linear infinite;
animation-duration: calc(400s /var(--i));

}
.bubbles2 span{
    background-color: aliceblue;
    height: 2px;
    width: 2px;
    margin: auto;
    animation: star 15s linear infinite;
animation-duration: calc(130s /var(--i));

}
.bubbles3 span{
    background-color: aliceblue;
    height: 1px;
    width:1px;
    margin: auto;
    animation: star 15s linear infinite;
animation-duration: calc(100s /var(--i));
animation-fill-mode: forwards;
}
@keyframes star { 

    0%{  
        transform: translateY(110vh)scale(1);
    }
     100%{
        transform: translateY(-10vh)scale(1);
     }
}
.box img{
width:48%;
    margin-left: auto;
    animation: image 2s linear 1  ;
    animation-fill-mode:backwards ;
    animation-delay:calc((var(--animdur)/1.3)*3) ;
}
@keyframes image {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 1;
    }
}

.box{margin: 70px 70px;
    display: flex;
} 
#container{
display: flex;
flex-direction: column;
justify-content: center;
}
.slogan{ color: #ffffff;
font-family: "nunito";
font-weight: 1000;
font-size: 45px;
margin-bottom:24px ;
animation: slogan var(--animdur) linear 1  ;
}
@keyframes slogan {
    0%{
        transform: translateX(-50vw);
    }
    60%{
       transform: translateX(0px)
    }
70%{
    transform: translateX(10px);
}
80%{
    transform: translateX(-10px);
}
90%{
    transform: translateX(4px);
}
100%{
    transform: translateX(-4px);
}

}
.disc{
    font-size: 22px;
color: aliceblue;
font-family: "nunito";
margin-bottom: 48px;
animation: slogan var(--animdur)  linear 1  ;
animation-delay: calc(var(--animdur)/1.3);
animation-fill-mode: backwards;
}
.button{
    display: flex;

}
.btn{border: #1adb80;
     display: flex;
justify-content: center;   
 align-items: center;
 padding: 15px 43px;
    border-radius:4px ;
    font-size: 18px;
background-color: var(--green);
animation: btns var(--animdur)  linear 1  ;
animation-delay: calc(var(--animdur)/0.65);
animation-fill-mode: backwards;
}


@keyframes btns {
    0%{
opacity: 0;
transform: translateY(10px);}


    100%{

        opacity: 1;
        transform: translateY(0);
            }

}

.wavey{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
}
.wave{
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
    background: url(./img/wave.png);
}

.wave1{    
animation: waves 20s  linear infinite  ;
animation-delay: 0s;
}
.wave2{
    opacity: 0.5;    
    animation: waves2 15s  linear infinite  ;
animation-delay: -5s;
}
.wave3{
    opacity: 0.5;    
    animation: waves2 15s  linear infinite  ;
animation-delay: -10s;
}

@keyframes waves {
    0%{
        background-position-x:0px;
    }
100%{
    background-position-x: 1000px;
}
}
@keyframes waves2 {
    0%{
        background-position-x:0px;
    }
100%{
    background-position-x: -1000px;
}
}