<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     style
        include ../static/css/elec(2).css
        script 
         include ../static/js/pt.js 
</head>
<body>
 <nav class="nvbr">
        <div class="title">
            <div id="light">MoonLight</div>
            <div id="elec"> Electronics</div>
        </div>
        <div id="navitems">
            <div class="item"> <a href="\">Home</a> </div>
            <div class="item"> <a href="\accs">accesories</a> </div>
            <div class="item"> <a href="\contact">Contact us</a> </div>
        </div>
        <div class="login">
            <a href="\login"> LOGIN</a>
        </div> </nav>
      
<div class="main">
    <div class="accs">
        <img src="" alt="" class="pic">
            <div class="dis"></div>
        </img>
    </div>
    <div class="accs">
        <img src="" alt="" class="pic">
            <div class="dis"></div>
        </img>
    </div>
    <div class="accs">
        <img src="" alt="" class="pic">
            <div class="dis"></div>
        </img>
    </div>
    <div class="accs">
        <img src="" alt="" class="pic">
            <div class="dis"></div>
        </img>
    </div>
    <div class="accs">
        <img src="" alt="" class="pic">
            <div class="dis"></div>
        </img>
    </div>
</div>
</body>
</html>