<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     style
        include ../static/css/elec(2).css
        script 
         include ../static/js/pt.js 
</head>
<body>
 <nav class="nvbr">
        <div class="title">
            <div id="light">MoonLight</div>
            <div id="elec"> Electronics</div>
        </div>
        <div id="navitems">
            <div class="item"> <a href="\">Home</a> </div>
            <div class="item"> <a href="\accs">accesories</a> </div>
            <div class="item"> <a href="\contact">Contact us</a> </div>
        </div>
        <div class="login">
            <a href="\login"> LOGIN</a>
        </div> </nav>
      
<div class="main">
    <div class="accs">
<div class="pic pic1"></div>           
 <div class="dis">Target BH-49 Wireless / Bluetooth In the Ear (With mic - Yes, Black & Red)
    <br> <br> Rs 560</div>
    </div>
    <div class="accs">
        <div class="pic pic2"></div>           
    <div class="dis">Target VH - 10 - Bluetooth Wireless Stereo Neckband with Smart LED indicators!
<br> <br> Rs 950
    </div>
    </div>
    <div class="accs">
        <div class="pic pic3"></div>           
        <div class="dis">Target BH-201 Wireless / Bluetooth Over the Ear (With mic - Yes, Red)
<br><br>     Rs 500   </div>
    </div>
    <div class="accs">
        <div class="pic pic4"></div>           
        <div class="dis">Black Target Bluetooth Headphone <br> <br> Rs 2200</div>
    </div>
</div>
</body>
</html>