<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mere baap ki dukaan </title>
    
    style
        include ../static/css/elec.css 

        script 
             include ../static/js/pt.js        
</head>

<body>
   
        <nav class="nvbr">
        <div class="title">
            <div id="light">MoonLight</div>
            <div id="elec"> Electronics</div>
        </div>
        <div id="navitems">

            <div class="item"> <a href="\">Home</a> </div>
            <div class="item"> <a href="\accs">accesories</a> </div>
            <div class="item"> <a href="\contact">Contact us</a> </div>
        </div>
        <div class="login">
            <a href="\login"> LOGIN
            </a>
        </div></nav>



<section class="description">
        <p>Welcome to Moonlight, your premier destination for all things electronics. At Moonlight, we pride ourselves on offering a wide range of top-quality electronics, accessories, and mobile repair services. Whether you're a tech enthusiast, a gadget lover, or simply looking to upgrade your devices, we have everything you need to enhance your digital lifestyle. sStep into our store and immerse yourself in a world of cutting-edge technology. From the latest smartphones to sleek tablets, smartwatches to high-performance laptops, we curate a diverse selection of products from leading brands. Our knowledgeable and friendly staff are here to guide you through your options, ensuring you find the perfect device that meets your needs and preferences.</p>
</section>

    <section>
        <h1>OUR SERVICES </h1>


        <div class="services">



            <div class="done">At Moonlight, we understand that accidents happen and devices can encounter issues. That's why we provide reliable and efficient mobile repair services. Our skilled technicians are trained to handle a variety of problems, from cracked screens to battery replacements and software troubleshooting. Trust us to restore your device to its optimal condition, keeping you connected and productive.
            </div>
            <div class="done">we offer a comprehensive selection of accessories to complement and enhance your devices. From protective cases and screen guards to chargers, cables, and headphones, we have all the essentials to personalize your electronics experience.
            </div>
            <div class="done">We are dedicated to delivering exceptional customer satisfaction, and our commitment to quality, reliability, and personalized service sets us apart. Whether you're a tech-savvy individual or a first-time buyer, our team is here to assist you every step of the way.
                </div>
        </div>
    </section>



</body>

</html>